# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Env (ibanga ry'ama config)
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# VS Code settings
.vscode/

# Uploads or temp files
uploads/
*.tmp
